body {
    color: darkblue;
    .testb {
        background-color: lighten(#000, 10%);
    }
}
.testb {
    background-color: green;
    color: #000;
    padding: 100px;
    font-size: 999px;
    line-height: 2;
}
a{
    color: yellow;
}